#marca{
    font-size: 150%;
    color: #fff;
    font-family: minhaFonte;
}

#banner{
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../imagens/banner.jpg);
    background-position: center;
    color: #fff;
}

#banner{
    padding-top: 6%;
    padding-bottom: 6%;
    background-image: url(../imagens/banner.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

#banner2{
    padding-top: 8%;
    padding-bottom: 8%;
    background-image: url(../imagens/banner3.avif);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.estruturaBanner{
    display: grid;
    grid-template-columns: 50% 50% ;
}

#textoBanner{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 4%;
}

#textoBanner2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#fundoLoginCadastro{
    background-image: url(../imagens/backgroundCadastro.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#textoContato{
    margin-left: 3%;
    margin-top: 1%;
    text-align: justify;
}

#imgContato{
    margin-left: 6%;
}

#textoCadastro, #textoLogin, #textoUsuario, #menu, #menu2, #menu3, #menu4{
    color: #fff;
}

#menu:hover, #menu2:hover, #menu3:hover, #menu4:hover{
    color: #1E90FF;
    font-size: 120%;
}
#textoCadastro:hover, #textoLogin:hover{
    color: #6A5ACD;
}

@font-face { /*Escolhendo uma fonte*/
    font-family: 'minhaFonte';
    src: url(../fontes/Sugar\ Latte.otf);
}

.cardRelogio:hover{
   padding: 10%;
}

#fundoRelogios{
    background-image: url(../imagens/bannerSBC.jpg);
    background-position: center;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 150%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.inputCliente{
    text-align: center;
}

#iconeCliente{
    background-color: #87CEFA;
    border-radius: 100%;
}

