{% extends 'base.html' %}
{% block conteudo %}

    <div class="row container-fluid">
        <div class="col">
            <img  id="imgContato" src="{{url_for('static', filename='imagens/entreEmContato.avif')}}">
        </div>
        <div style="border-left: 2px solid;" class="col">
            <div id="textoContato">
              <h1>Dúvidas?</h1>
              <p>
                <br>Entre em contato com a nossa equipe de suporte pelos meios de comunicação
                abaixo:<br><br>
              </p>
              <h3><br>Localização</h3>
              <p><br>Rua Sem Tempo, 124, São Paulo<br><br></p>
              <h3>Telefone</h3>
              <p><br>Celular - (11) 97638-9090<br><br>Fixo - (11) 4568-2138</p>
              <h3><br>E-mail</h3>
              <p><br>relojoariaSBC@outlook.com<br><br></p>
            </div>
        </div>
    </div>

{% endblock %}