{% extends 'base.html' %}
{% block conteudo %}

    <div class="row container-fluid">
        <div style="border-right: 2px solid" class="col">
            <div id="textoContato">
              <h1>Como tudo começou</h1>
                <p>Há muitos anos, em uma pequena cidade nos Alpes suíços,
                    um habilidoso relojoeiro chamado Samuel Berger decidiu seguir
                    sua paixão por relógios e abrir sua própria loja.
                    Ele escolheu o nome “RelojoariaSBC” como uma homenagem à cidade
                    onde estava localizada: São Bernardo do Campo.<br><br>

                    Samuel era conhecido por sua habilidade em reparar relógios antigos e
                    por criar peças únicas e personalizadas para seus clientes.
                    Sua loja era modesta, mas a qualidade de seu trabalho logo atraiu a
                    atenção dos moradores locais e turistas que passavam pela região.<br><br>

                    Com o tempo, a RelojoariaSBC se tornou um ponto de referência na cidade.
                    Samuel treinou aprendizes e expandiu sua equipe,
                    mantendo os padrões de excelência que sempre foram sua marca registrada.
                    A loja começou a oferecer não apenas reparos, mas também uma seleção exclusiva
                    de relógios suíços de marcas renomadas.<br><br>

                    A fama da RelojoariaSBC cresceu, e ela se tornou um destino obrigatório para
                    os amantes de relógios. Os clientes vinham de toda a Suíça e até mesmo de outros
                    países para adquirir os elegantes relógios de pulso e os clássicos relógios de bolso feitos à mão.<br><br>

                    Com o passar das décadas, a RelojoariaSBC continuou a prosperar,
                    passando de geração em geração. Hoje, a loja é administrada pelos
                    descendentes de Samuel Berger, que mantêm viva a tradição da relojoaria suíça com paixão e dedicação.<br><br>

                    E assim, a RelojoariaSBC permanece como um símbolo de excelência, artesanato
                    e amor pelo tempo, uma história que se entrelaça com a própria história da cidade e da relojoaria suíça.
                </p>
            </div>
        </div>
        <div class="col">
            <br><br><br><br><br><br><br><br>
            <p style="margin-left: 8%;font-family: minhaFonte; font-size: 800%;">RelojoariaSBC</p>
        </div>
    </div>
    <br><br>
{% endblock %}