{% extends 'base.html' %}
{% block conteudo %}

    <div id="caixa" class="container-fluid row">
        <div class="col"></div>
        <div class="card" style="width: 20rem;">
        <div class="card-body">
         <form class="row g-4">
             <div class="row">&nbsp</div>
             <div class="col"></div>
             <div class="row">
                 <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="inputEmail4">
                 </div>
             </div>
            <div class="row">
              <div class="col-md-12">
                  <label for="inputPassword4" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="inputPassword4">
              </div>
            </div>
          <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">Realizar login</button>
          </div>
         </form>
        </div>
    </div>
        <div class="col"></div>
    </div>



{% endblock %}